@media only screen and (max-width: 767px) {

    #footer .col-lg-12 {
        height: auto;
    }

    .list-partners li {
        margin: 0 20px;
    }

    #wrapper {
        overflow-x: hidden;
        width: 100%;
    }

    .content-footer span {
        margin-top: 45px;
    }

    #news ul li {
        margin: 0 auto 90px;
        display: block;
        clear:both;
    }

    #news ul li:nth-child(2n) {
        margin: 0 auto 90px;
    }

    #progress:before, #progress:after {
        display: none;
    }

    #progress {
        height: auto;
    }

    .right-progress {
        margin-left: 0;
    }

    #slideFaq h2 {
        margin-top: 25px;
        font-size: 35px;
    }

    #slideFaq {
        height: auto;
    }

    #lastNews .col-lg-12 .last-news ul li a {
        padding: 0 25px;
    }

    .excerpt-setting {
        margin: 20px 5px;
    }

    #slideFaq.news-page {
        background-position: initial;
        background-repeat: no-repeat;
    }

    #slideFaq span {
        display: block;
        padding-bottom: 15px;
    }

    #breadcrumbs {
        text-align: center;
    }

    #faq img {
        display: none;
    }

    .list-questions ul li a {
        font-size: 15px;
        height: auto;
        line-height: 24px;
        padding: 7px 20px;
    }

    #settings form {
        margin-top: 30px;
    }

    .list-questions ul li a:after {
        top:20px;
    }

    .list-questions ul li.active a:after {
        top:18px;
    }

    .text-two-progress {
        text-align: center;
        padding-bottom: 10px;
        padding-top: 0;
    }

    .content-footer p {
        padding-bottom: 25px;
    }

    .list-progress-categories {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;
    }

    .text-two-progress br {
        display: none;
    }

    #wrapper .slick-prev {
        left:-10px;
    }

    #wrapper .slick-next {
        right: -10px;
    }

    #partners .slick-slide > div > div {
        height: 110px;
        position: relative;
    }

    #partners .slick-slide img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    #footer:before, #footer:after {
        display: none;
    }

    #news h2, #partners h2 {
        margin-bottom: 65px;
        font-size: 32px ;
    }

    .title {
        font-size: 24px;
        padding-bottom: 5px;
    }

    #news .col-lg-5 {
        margin-bottom: 50px;
    }

    #gallery ul {
        display: block;
    }

    #gallery {
        height: auto;
    }

    #gallery ul li {
        padding-right: 0;
        text-align: center;
        margin: 0 auto 20px;
        display: block;
    }

    #gallery ul li img {
        width:100%;
    }


    .text-progress {
        width:auto;
        margin-left: 0;
        border:none;
    }

    #news .col-lg-5 {
        padding: 0 10px;
    }

    .wrap-img img {
        display: block;
        margin: -35px auto 0;
        text-align: center;
        width: 90%;
    }

    .upload-compilation span {
        display: none;
    }

    .upload-compilation {
        width:55px;
        margin-left: 0;
    }

    .upload-compilation:before {
        left: 10px;
        top: 10px;
    }

    .logo {

    }

    #menu ul li:first-child a {
        margin: 0;
        text-align: center;
    }

    .list-categories ul li {
        display: block;
        margin:0 auto 85px;
        width:60%;
    }

    .list-categories {
        margin-top: 55px;
    }

    .content-slide {
        margin: 0;
    }

    #blogCarousel .col-md-3 {
        margin-bottom: 20px;
    }

    #slider {
        height: auto;
        background-size: cover;
        position: relative;
    }

    .overlay {
        position: absolute;
        left:0;
        top:0;
        width:100%;
        height: 100%;
        background-color: black;
        z-index: 1;
        opacity: .4;
    }


    #slider .col-lg-12 {
        height: auto;
        background-size: cover;
        position: relative;
        z-index: 3;
    }

    #progress ul li a {
        margin: 0 10px 35px;
        width:145px;
    }

    .list-categories ul li a:before {
        left:-140px;
    }

    .list-categories ul li:nth-child(2) a:before {
        left:-120px;
    }

    .list-buttons li a {
        display: none;
    }

    .content-slide h2 br {
        display: none;
    }

    .list-categories ul li a {
        font-size: 16px;
    }

    .content-footer ul {
        padding-bottom: 10px;
    }

    #footer {
        height: auto;
    }

    #menu ul li a {
        font-size: 16px;
    }

    #categories {
        height: auto;
    }

    .btn-auth {
        margin: 45px 10px 0 0;
        text-align: right;
    }

    #footer .col-lg-12 {
        background-size: cover;
        background-position: -250px;
    }

    .left-progress {margin-left: 0}

    .content-slide h2 {
        font-size: 24px;
        color:white;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .content-slide span {
        display: block;
        color:white;
        text-align: center;
        padding-bottom: 10px;
    }

    #header img {
        width:90%;
    }

    .content-slide:before {
        display: none;
    }

    #progress {
        margin-top: 0;
    }

    .text-progress img {
        display: none;
    }

    .text-progress {
        margin-top: 10px;
    }

    .text-progress:before, .text-progress:after {
        display: none;
    }


    #menu span {
        display: inline-block;
    }

    #menu ul li {
        display: none;
    }

    #menu ul li:first-child {
        display: block;
    }

    .wrap-list-area {
        width:100%;
    }

    #breadcrumbs .mobile-display-none {
        display: none;
    }

    .content-page {
        margin-bottom: 25px;
    }

    #listLiders ul li img {
        position: initial;
        width:96%;
        display: block;
        margin: -70px auto 0;
    }

    #listLiders .col-lg-8 > ul > li:nth-child(2n-1):before, #listLiders .col-lg-8 > ul > li:nth-child(2n-1):after, #listLiders .col-lg-8 > ul > li:nth-child(2n):before, #listLiders .col-lg-8 > ul > li:nth-child(2n):after {
        display: none;
    }

    .name-lider {
        padding-left: 0;
        font-size: 32px;
    }

    .area-lider, #listLiders ul li ul li {
        padding-left: 0;
        text-align: center;
    }

    #listLiders .col-lg-8 > ul > li {
        margin-left: 0;
        width:auto;
        height: auto;
        margin-bottom: 110px;
    }

    .content-news {
        width:100%;
        padding-left: 0;
        padding-top: 30px;
    }

    .string-right {
        position: absolute;
        left: 60px;
        height: 75px;
        width: 2px;
        background: #5c8a03;
        bottom: -25px;
        z-index: 9;
        top:initial;
    }

    .list-categories-news {
        padding-top: 70px;
    }

    .list-this-news .list-categories-news {
        padding-left: 0;
    }

    .list-categories-news ul li a {
        margin: 0 auto !important;
        width:100%;
    }

    #news .list-categories-news ul li:nth-child(2n-1) a {
        padding-left: 190px;
    }

    #news .list-categories-news ul li:first-child a:before, #news .list-categories-news ul li:last-child a:before {
        left:-5px;
    }

    #news .list-categories-news ul li:nth-child(2n) {
        margin: 0 auto 55px;
    }

    #news .list-categories-news ul li:nth-child(2) a:after {
        right:-5px;
    }

    #news .list-categories-news ul li:nth-child(2) a {
        padding-left: 30px;
    }

    #news .col-lg-3 {
        padding: 0 15px;
    }

    #news .siderbar-news ul li ul li a {
        font-size: 26px;
        line-height: 30px;
        padding-top: 5px;
    }

    #news .siderbar-news ul li ul li {
        vertical-align: top;
        margin-bottom: 15px;
    }

    #news .siderbar-news > ul > li {
        margin-bottom: 15px;
    }

    .help {
        background-size: cover;
    }

    .body-news {
        padding: 0;
    }

    .one-news img {
        width:100%;
    }

    #news .share ul li {
        margin-bottom: 0;
        margin-right: 10px !important;
    }

    .last-news {
        height: auto;
    }

    #lastNews {
        margin-top: 40px;
    }

    #lastNews .col-lg-12 .last-news ul li {
        display: block;
        width:100%;
    }

    #lastNews .col-lg-12 .last-news ul li {
        text-align: center !important;
    }

    #lastNews .col-lg-12 .last-news ul li:nth-child(2) {
        width:initial;
        margin: 20px auto;
    }

    .chat {
        margin-top: 40px;
    }

    .mail-data {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .list-instruction ul li > span {
        height: auto;
        line-height: 30px;
        padding: 10px 15px;
    }

    .list-instruction ul li > span:after {
        top:25px;
    }

    .list-instruction textarea {
        width:100%;
    }

    #settings input[type="submit"], .list-current-btn-auth li:first-child input, #registration input[type="submit"] {
        margin: 40px auto 100px;
        float:none;
    }

    .list-instruction ul li > span span {
        display: block;
        padding-left: 0;
    }

    #settings .list-area-style {
        margin-top: 30px;
    }

    #settings #listLiders ul li img {
        margin: -70px auto 0;
    }

    #settings #listLiders > ul > li .name-lider, #settings #listLiders > ul > li .area-lider, #settings #listLiders ul li ul li {
        padding-left: 0;
    }

    #settings #listLiders ul li {
        margin-left: 0;
    }

    .list-btn-auth li a {
        margin: 25px 0;
    }

    .list-btn-auth li:last-child a {
        width: 205px;
    }

    .btn-social a {
        margin: 15px auto;
        width: 320px;
    }

    .btn-social li:first-child a:before, .btn-social li:last-child a:before {
        left:65px;
    }

    #listArea .col-lg-12 > ul > li {
        margin:0;
        width:100%;
        margin-bottom: 25px;
    }

    #listArea .col-lg-12 > ul > li h4 {
        font-size: 22px;
    }

    .list-instruction {
        margin-top: 25px;
    }

    .mail-data {
        position:initial;
    }

    #page404 img {
        width:90%;
    }

    .logo-popup {
        margin-top: 20px;
    }

    .list-menu-popup ul li a {
        line-height: 42px;
        height: 42px;
    }



}

@media only screen and (min-width: 768px)  and (max-width: 959px) {

    .mail-data {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .mail-data {
        position:initial;
    }

    .btn-social li:first-child a:before, .btn-social li:last-child a:before {
        left:55px;
    }

    .agree-wrap br {
        display: none;
    }

    .btn-social a {
        width:300px;
    }

    .list-instruction textarea {
        width:100%;
    }

    #settings .list-area-style {
        margin-top: 30px;
    }

    .content-slide {
        margin: 0;
        padding: 50px 140px;
        width: auto;
    }

    .chat {
        margin-top: 40px;
    }

    #settings form {
        margin-top: 30px;
    }

    .string-right {
        position: absolute;
        left: 60px;
        height: 75px;
        width: 2px;
        background: #5c8a03;
        bottom: -25px;
        z-index: 9;
        top:initial;
    }


    .content-news a.name-news {
        font-size: 24px;
    }

    .content-news .read-more {
        margin-right: 65px;
    }

    .list-this-news .show-more {
        margin: 20px auto;
    }

    #lastNews .col-lg-12 .last-news ul li img {
        width:75%;
    }

    #lastNews .col-lg-12 .last-news ul li a {
        font-size: 14px;
    }

    .last-news {
        padding-top: 30px;
    }

    .one-news img {
        width:75%;
        margin-top: 20px;
    }

    #slideFaq.news-page {
        background-image: url(../images/news-background.jpg);
        background-size: cover;
        background-position: 0;
        background-repeat: no-repeat;
    }

    .list-categories-news ul {
        float:right;
    }

    #news .list-categories-news ul li {
        display: block;
    }

    .body-news {
        padding: 0;
    }

    .content-news {
        width:100%;
        padding-left: 0;
    }

    .wrap-list-area {
        width: auto;
    }

    #listLiders .col-lg-8 > ul > li {
        margin-bottom: 70px;
    }

    .name-lider{
        padding-left: 180px;
    }

    .area-lider, #listLiders ul li ul li {
        padding-left: 240px;
    }

    #listLiders ul li img {
        margin-left: -75px;
        margin-top: 20px;
        position: absolute;
        width: 45%;
    }

    #faq img {
        width: 100%;
    }

    .list-questions ul li a {
        font-size: 14px;
    }

    .list-categories {
        margin-top: 0;
    }

    #footer {
        overflow: hidden;
    }

    #footer:before, #footer:after {
        width: 24%;
    }

    #footer:before {
        margin-left: -300px;
    }


    .upload-compilation {
        width:245px;
        font-size: 13px;
    }

    #menu ul li a {
        margin: 0 10px;
    }

    #menu ul li:first-child a {
        margin-right: 10px;
    }

    .content-slide h2 {
        font-size: 34px;
    }



    .list-categories ul li {
        margin: 30px 30px 70px;
        width:160px;
    }

    #categories {
        height: auto;
        padding-top: 50px;
    }

    .upload-compilation {
        margin-left: 0;
        display: none;
    }

    .logo {
        padding-left: 20px;
    }

    .btn-auth {
        margin-left: 170px;
    }

    #slider {
        height: auto;
    }


    #footer {
        height: auto;
    }

    #news .col-sm-12 {
        text-align: center;
    }

    #progress:after, #progress:before {
        display: none;
    }

    .text-two-progress {
        padding-left: 90px;
    }

    #lastNews .col-lg-12 {
        padding: 0;
    }

    #lastNews .col-lg-12 .last-news ul li span {
        font-size: 12px;
    }

    #lastNews .col-lg-12 .last-news ul li {
        width:35%;
        vertical-align: top;
    }

    #progress {
        height: auto;
        padding-bottom: 50px;
    }

    .wrap-img img {
        width:80%;
        margin-top: -40px;
    }

    .wrap-img {
        height: 180px;

    }

    .title {
        font-size: 21px;
    }

    #news .col-lg-5:nth-child(2n-1) {
        margin-right: 0;
    }

    #news .col-lg-5 {
        padding: 10px;
    }

    .title {
        padding-bottom: 0;
    }

    .left-progress {
        margin-left: 0px;
    }

    .text-progress {
        margin-left: 0;
    }

    #progress ul li a {
        width:150px;
        margin: 0 5px 25px;
    }

    .text-progress:before {
        top:-3px;
        height: 4px;
    }

    .text-progress:after {
        width:4px;
        right:-3px;
    }

    .content-slide:before {
        left: 61px;
        top: -50px;
    }

    #footer .col-lg-12 {
        background-image: none;
    }




    #progress .row {
        margin-right: 0;
    }

    #wrapper {
        overflow-x: hidden;
        width: 100%;
    }

    .show-more {
        padding-left: 100px;
    }


}

@media only screen and (min-width: 960px)  and (max-width: 1368px) {
    #progress.active:before {
        left: -150px;
    }

    #progress.active:after {
        right: -180px;
    }


    .content-slide {
        margin-top: 170px;
    }

    #gallery ul {
        justify-content: initial;
    }


    .modal-menu {
        height: 100%;
        overflow-y: auto;
    }

}

@media only screen and (min-width: 1368px)  and (max-width: 1500px) {

}