@font-face {
    font-family: SemiBold; /* Имя шрифта */
    src: url(../fonts/Sans/IBMPlexSans-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Light; /* Имя шрифта */
    src: url(../fonts/Sans/IBMPlexSans-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Bold; /* Имя шрифта */
    src: url(../fonts/Sans/IBMPlexSans-Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: Regular; /* Имя шрифта */
    src: url(../fonts/Sans/IBMPlexSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: SemiBoldSerif; /* Имя шрифта */
    src: url(../fonts/Serif/IBMPlexSerif-SemiBold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: BoldSerif; /* Имя шрифта */
    src: url(../fonts/Serif/IBMPlexSerif-Bold.ttf); /* Путь к файлу со шрифтом */
}


@font-face {
    font-family: Italic; /* Имя шрифта */
    src: url(../fonts/Sans/IBMPlexSans-Italic.ttf); /* Путь к файлу со шрифтом */
}






body {
    font-family: Regular;
}

#header {
    height: 170px;
    border-bottom: 2px solid #D8D8D8;
}

.d-block {
    display: block;
}

.upload-compilation {
    height: 55px;
    background-color: #82B21E;
    width:275px;
    color:white;
    border-radius: 35px;
    text-align: center;
    line-height: 55px;
    margin: 60px 30px 0 0;
    position:relative;
    text-transform: uppercase;
    font-family: SemiBold;
    font-size: 14px;
    padding-left: 40px;
    border-bottom: 4px solid #5C8A03;
}


.upload-compilation:before {
    position:absolute;
    content: url(../images/icons/upload.png);
    left:25px;
    top:7px;
    transform: scale(.5);
    display: block;
    width: 5px;
    height: 20px;
}

.upload-compilation:hover, .upload-compilation:active, .show-more:hover, .write-us:hover {
    color:white;
    /*box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #82B21E !important;*/
    background-color: #5C8A03;
    border-bottom: 4px solid #82B21E;
}

#header img {
    display: block;
    margin:15px auto 0;
}

.btn-auth {
    display: block;
    position: relative;
    margin: 45px 65px 0 0;
    width: max-content;
    float:right;

}

.btn-auth:after {
    position: absolute;
    content: url(../images/icons/arrow-bottom.png);
    right:-15px;
    top:30px;
}

#menu {
    height: 55px;
    border-bottom: 2px solid #E2E2E2;
}

.btn-hamburger {

}

#menu ul li {
    display: inline-block;
}




#gallery {
    height: 405px;
}

#gallery ul li{
    display: inline-flex;
    padding-right: 40px;
}

#gallery ul li div {
    overflow: hidden;
}

#gallery ul li img {
    transition: 1s; /* Время эффекта */
}
#gallery ul li img:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
}



#gallery ul {
    display: flex;
    justify-content: center;
}

#gallery ul li:last-child {
    padding-right: 0;
}

#menu ul li a {
    display: block;
    line-height: 55px;
    margin: 0 30px;
    text-transform: uppercase;
    font-family: Regular;
    color:#262424;
    font-size: 14px;
}

#menu ul li:first-child a {
    margin-right: 70px;
    margin-left: 25px;
}

.logo {
    display: block;
}

#menu ul li a img {
    vertical-align: middle;
    margin-top: -3px;
}

#menu ul li a.active, #menu ul li a:hover {
    color:#5c8a03;
}


#menu ul li:last-child a {
    padding-right: 0;
}

#slider {
    height: 450px;

}

#slider {
    background-image: url(../images/header-background.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    height: 665px;
}

.content-slide {
    position: relative;
    margin: 250px 0 0 135px;
    width:400px;
}


.content-slide:before {
    content:url(../images/white-background.png);
    opacity: .5;
    position: absolute;
    left:-65px;
    top:-165px;
    z-index: 1;
}

.content-slide h2 {
    font-family: BoldSerif;
    color:#5c8a03;
    padding-bottom: 40px;
    font-size: 44px;
    z-index: 3;
    position: relative;
}

.content-slide span {
    z-index: 3;
    color:#262424;
    position: relative;
    font-size: 18px;
}

.list-categories {
    text-align: center;
    margin-top: 145px;
}

.list-categories ul li {
    display: inline-block;
    width:260px;
    border:3px solid #5C8A03;
    height:80px;
    margin: 0 50px;
    position: relative;
}

.list-categories ul li a {
    display: block;
    width: max-content;
    padding: 0 5px;
    text-transform: uppercase;
    color:#5c8a03;
    font-size: 20px;
    text-align: center;
    margin: 25px auto;
    font-family: SemiBold;
}

.list-categories ul li a:hover {
    border-bottom: 2px solid #5C8A03;
}

.list-categories ul li:hover a img, .list-categories-news ul li a:hover:before, .list-categories-news ul li a:hover:after {
    transform: scale(1.1);
    transition: .4s;

}

#categories {
    height: 290px;
}

.list-categories ul li a img {
    left: -70px;
    top: -20px;
}

.list-categories ul li:first-child a img {
    position: absolute;
    content:url(../images/category-1.png);
}

.list-categories ul li:first-child a:before {
    position: absolute;
    content:'';
    width: 3px;
    height: 75px;
    background-color: white;
    left:-3px;
    top:5px;
}

.list-categories ul li:first-child a:after {
    position: absolute;
    content:'';
    height: 3px;
    width: 45px;
    background-color: white;
    left:0;
    bottom:-3px;
}

.list-categories ul li:nth-child(2) a:before {
    position: absolute;
    content:'';
    width: 3px;
    height: 75px;
    background-color: white;
    right:-3px;
    top:10px;
}

.list-categories ul li:nth-child(2) a:after {
    position: absolute;
    content:'';
    height: 3px;
    width: 55px;
    background-color: white;
    right:0;
    bottom:-3px;
}

.list-categories ul li:last-child a:before {
    position: absolute;
    content:'';
    width: 3px;
    height: 75px;
    background-color: white;
    right:-3px;
    top:-10px;
}

.list-categories ul li:last-child a:after {
    position: absolute;
    content:'';
    height: 3px;
    width: 45px;
    background-color: white;
    right:0;
    top:-3px;
}


.list-categories ul li a img {
    z-index: 89;
}

.list-categories ul li:nth-child(2) a img {
    position: absolute;
    right:-60px;
    left: initial;
    content:url(../images/category-2.png);
}

.list-categories ul li:last-child a img {
    position: absolute;
    right:-60px;
    left: initial;
    top:-35px;
    content:url(../images/category-3.png);
}

#progress {
    height: 605px;
    background-color: #FAF9F5;
    position: relative;
}

#progress:before {
    position: absolute;
    content:url(../images/brokkoli.png);
    left:-300px;
    top:35px;
}

#wrapper {
    overflow-x: hidden;
}

#progress.active:before {
    left:0;
    transition: 2s;
}

#progress:after {
    position: absolute;
    content:url(../images/flower.png);
    right:-300px;
    top:75px;
}

#progress.active:after {
    right:0;
    transition: 2s;
}

#partners {
    padding-top: 40px;
}

#news h2, #partners h2 {
    text-align: center;
    color:#5c8a03;
    font-size: 44px;
    font-family: BoldSerif;
    margin-bottom: 110px;
    margin-top: 55px;
}

#partners h2 {
    margin-bottom: 50px;
    margin-top: 10px;
}

#news ul li {
    width:440px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 65px;
}

#news ul li:nth-child(2n) {
    margin-left: 80px;
}

.wrap-img {
    width:100%;
    height: 255px;
    position: relative;
}




/*.wrap-img:hover:hover {*/
    /*border-color: #5fbd74;*/
/*}*/

.wrap-img a, .news-img a {
    border:3px solid #ccc;
}

.wrap-img:after, .news-img:after {
    border-right: 3px solid #5c8a03;
    border-left: 3px solid #5c8a03;
    -webkit-transform: scale(1,0);
    transform: scale(1,0);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.wrap-img:before, .wrap-img:after, .news-img:before, .news-img:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity .35s,transform .35s;

}

#news .col-lg-5:hover .wrap-img:before,
#news .col-lg-5:hover .wrap-img:after,
#news li:hover .news-img:before,
#news li:hover .news-img:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    z-index: 7676;
}

.wrap-img a, .news-img a {
    display: block;
    position: relative;
    z-index: 13;
    height: 100%;
}

.wrap-img:before, .news-img:before {
    border-top: 3px solid #5c8a03;
    border-bottom: 3px solid #5c8a03;
    -webkit-transform: scale(0,1);
    transform: scale(0,1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


.wrap-img:before {
    z-index: 8;
}

/*.wrap-img:hover:before {*/
    /*bottom:-30px;*/
    /*transition: .7s;*/
/*}*/


/*.wrap-img:before {*/
    /*position: absolute;*/
    /*left:65px;*/
    /*height: 70px;*/
    /*width:2px;*/
    /*bottom:-20px;*/
    /*content:'';*/
    /*background: #3C8B00;*/
/*}*/

/*#news .col-lg-5:hover .wrap-img {*/
    /*border:2px solid #5C8A03;*/
/*}*/


.wrap-img img, .news-img img {
    display: block;
    margin:10px auto 0;
}

.wrap-content {
    padding: 15px 5px 0;
}

.title {
    font-family: SemiBold;
    color:#262424;
    font-size: 28px;
    line-height: 32px;
    display: block;
    padding-bottom: 15px;
    padding-top: 10px;
}

.title:hover {
    color:#5c8a03;
}

.date {
    color:#aaaaaa;
    font-family: Light;
    display: block;
    font-size: 14px;
    padding: 10px 0 5px;
}

.wrap-content p {
    font-size: 18px;
    color:#262424;
}

#news .col-lg-5 {
    margin-bottom: 100px;
}

.wrap-content .btn-more, .content-news .read-more{
    float:right;
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    color:#5c8a03;
    display: block;
    padding-top: 5px;
    margin-right: 5px;
}

/*.wrap-content .btn-more:hover {*/
    /*transform: scale(1.2);*/
    /*transition: .3s;*/
/*}*/


.string-bottom {
    position: absolute;
    left: 60px;
    height: 75px;
    width: 2px;
    background: #5c8a03;
    bottom: -25px;
    z-index: 9;
}

#news .col-lg-5 {
    padding: 0 60px;
}

.wrap-content .btn-more:after, .content-news .read-more:after {
    content: '';
    border-bottom: 2px solid #5c8a03;
    height:1px;
    position: absolute;
    width:100%;
    bottom: -2px;
    right:-25px;
    transition: right 1s;
}

.wrap-content .btn-more:hover:after, .content-news .read-more:hover:after {
    right:0;
    transition: 1s;
}


.show-more, .write-us, #settings .list-instruction button[type="submit"] {
    display: block;
    margin: -20px auto 0;
    color:white;
    position:relative;
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    border-radius: 35px;
    background-color: #82B21E;
    width:260px;
    padding-left: 100px;
    font-family: SemiBold;
    font-size: 14px;
    border-bottom: 4px solid #5c8a03;
}

.show-more:before {
    position: absolute;
    left:30px;
    content:url(../images/icons/show-more.png);
    top:-5px;
    transform: scale(.5) !important;
    height: 60px;
    width: 60px;
}

.show-more:hover:before {
    animation: 2s linear 0s normal none infinite running rot;
    transform: scale(.5);
}

@keyframes rot {
    0% {
        transform: rotate(0deg) scale(.5);
    }
    100% {
        transform: rotate(360deg) scale(.5);
    }
}
@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg) scale(.5);
    }
    100% {
        transform: rotate(360deg) scale(.5);
    }
}



.show-more:hover, .show-more:focus, .write-us:hover, .write-us:focus  {
    color:white;
}

#partners {
    background-color: #FAF9F5;
    height: 370px;
}

.list-partners li {
    display: inline-block;
    margin: 0 25px;
}

.list-partners li img {
    vertical-align: middle;
}

.list-buttons li {
    display: inline-block;
    margin: 0 5px;
}

.list-buttons {
    text-align: center;
    margin-top: 25px;
}

.list-buttons li a {
    display: block;
    border-radius: 50%;
    background: black;
    width:7px;
    height: 7px;
}

.list-buttons li a.active {
    background-color: #82B21E;
}

#footer {
    height: 525px;
    position: relative;
    background-color: #566B3C;
}


#footer:before {
    position: absolute;
    left:0;
    top:0;
    content:url(../images/background-footer1.png);
    height: 100%;
}

#footer::after {
    position: absolute;
    right:0;
    top:0;
    content:url(../images/background-footer2.png);
    height: 100%;
}

#footer .container {
    position: relative;
    z-index: 4;
}

.content-footer {
    text-align: center;
    margin-top: 40px;
}

.content-footer span {
    display: block;
    font-family: BoldSerif;
    color:#82b21e;
    font-size: 28px;
    text-align: center;
    margin-top: 30px;
}

.write-us {
    margin-top: 40px;
    padding-left: 50px;
}

.write-us:before, #settings .list-instruction button[type="submit"]:before {
    position: absolute;
    left:25px;
    content:url(../images/icons/message.png);
    top:-8px;
    transform: scale(.5);
}

#settings .list-instruction button[type="submit"] {
    margin: 20px 0;
    outline: none;
    border:none;
    padding-left: 60px;
    margin-bottom: 100px;
    cursor:pointer;
}

#settings .list-instruction button[type="submit"]:hover {
    background-color:#5C8A03;
}

.content-footer p {
    color:white;
    font-family: BoldSerif;
    font-size: 18px;
    display: block;
    padding-top: 65px;
    padding-bottom: 35px;
}

.content-footer ul li {
    display: inline-block;
    margin: 0 10px;
}

#gallery {
    margin-top: 50px;
}

#gallery .carousel-inner img {
    width:100%;
}

.text-progress {
    display: block;
    border: 3px solid #669113;
    width:335px;
    height: 165px;
    font-size: 44px;
    font-family: BoldSerif;
    color:#5c8a03;
    line-height: 44px;
    padding-left: 25px;
    padding-top: 30px;
    margin-top: 310px;
    position: relative;
    margin-left: 25px;
}

.text-progress img {
    position: absolute;
    right: -120px;
    content: url(../images/progress-image.png);
    top: -270px;
    z-index: 3;
}

.text-progress:before {
    position:absolute;
    height: 3px;
    width:315px;
    background-color:#FAF9F5;
    content: '';
    top: -3px;
    z-index: 1;
}

.text-progress:after {
    position: absolute;
    right:-3px;
    height: 90px;
    background-color:#FAF9F5;
    content: '';
    top: -2px;
    z-index: 1;
    width:3px;
}

#progress ul li {
    display: inline-block;
}

#progress ul li a {
    display: block;
    text-transform: uppercase;
    background-color: #E3E2CD;
    text-align: center;
    color:#423e3e;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    border-radius: 35px;
    width:170px;
    margin:0 15px 35px;
    font-family: SemiBold;
}

#progress ul li a:hover, #progress ul li a:active {
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #82B21E;
}

#progress ul li a.active, #progress ul li a:hover {
    color:white;
    background-color: #82B21E;
}

#progress ul li a:active {
    background-color: #3C8A00;
}

#progress ul li:nth-child(2n-1) a {
    margin-left: 0;
}

.list-progress-categories {
    margin-top: 175px;
    margin-bottom: 15px;
}

.text-two-progress {
    font-size: 18px;
    color:#262424;
    display: block;
    padding-top: 15px;
}

.text-two-progress span {
    color:#5c8a03;
    font-family: BoldSerif;
    font-size: 44px;
}


/*.left-progress {*/
    /*margin-left: -20px;*/
/*}*/

#footer ul li {
    display: inline-block;
}

#footer ul li a {
    display: block;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: #5C8A03;
    padding-top: 7px;
}

#footer ul li a:hover {
    background-color: #82B21E;
}

#footer ul li a img {
    display: block;
    text-align: center;
    margin: 5px auto;
}

.list-partners {
    width:10000px;
}

.wrap-list-partners {
    overflow: hidden;
}

#menu span {
    display: none;
}

.slick-prev:before, .slick-next:before {
    display: none;
}

#wrapper .slick-prev img {
    transform: rotate(180deg);
    top:45% !important;
}

.slick-slide {
    padding: 0 15px;
}


.write-us:hover {
    box-shadow: none !important;
}

#slideFaq {
    height: 405px;
    background-image: url(../images/slide-faq.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
}

#slideFaq .overlay, .help .overlay {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    z-index: 1;
    background: black;
    opacity: .5;
}

#slideFaq .container {
    position: relative;
    z-index: 3;
}

#slideFaq h2 {
    color:white;
    font-family: BoldSerif;
    font-size: 44px;
    margin-top: 135px;
}

#slideFaq span {
    font-size: 18px;
    color:white;
    font-family: SemiBold;
    display: block;
    padding-top: 45px;
}

#breadcrumbs {
    height: 60px;
    border-bottom: 1px solid #C6C6C6;
}

#breadcrumbs ul li {
    display: inline-block;
}

#breadcrumbs ul li a {
    display: block;
    margin-right: 20px;
    font-family: Light;
    text-transform: uppercase;
    line-height: 60px;
    color:#262424;
    font-size: 14px;
}

#breadcrumbs ul li :hover {
    color:#5c8a03;
}

#breadcrumbs ul li:last-child a {
    color:#5c8a03;
}

#faq {
    padding-bottom: 150px;
}

#faq img {
    padding-top: 85px;
}

#faq h3 {
    font-size: 28px;
    font-family: BoldSerif;
    color:#5c8a03;
    padding-top: 50px;
    padding-bottom: 35px;
}


.list-questions ul li a {
    display: block;
    position: relative;
    border:1px solid #C6C6C6;
    background-color: #FCFCFC;
    height: 55px;
    line-height: 53px;
    padding-left: 15px;
    font-family: Light;
    font-size: 18px;
    color:#262424;
    margin-bottom: 10px;
}

.list-questions ul li a:after {
    position: absolute;
    content:url(../images/icons/plus.png);
    right:15px;
    top:2px;
}


.list-questions ul li a:hover:after {
    content:url(../images/icons/plus-white.png);
}


.list-questions ul li.active a, .list-questions ul li a:hover {
    background-color: #68B300;
    color:white;
    border:none;
}

.list-questions ul li.active a:after {
    position: absolute;
    content:url(../images/icons/minus.png);
    top:-2px;
}

.content-question {
    margin: 10px 20px;
    display: none;
}

.content-question b {
    font-family: SemiBold;
    font-size: 18px;
}

.content-question div {
    font-family: Light;
    padding-top: 20px;
    font-size: 18px;
    padding-bottom: 15px;
}

#slideFaq.news-page {
    background-image: url(../images/news-background.jpg);
    background-size: cover;
    background-position: 0 -100px;
}

#liders {
    margin-top: 55px;
}

.wrap-list-area {
    background-color: #3C8B00;
    width:325px;
}

.wrap-list-area ul li:first-child {
    position: relative;
    height: 55px;
    cursor: pointer;
    border-bottom: 1px solid white;
    line-height: 55px;
    padding-left: 25px;
    font-family: SemiBold;
    background: #68B300;
    color:white;

}

.wrap-list-area ul {
    height: 55px;
    overflow: hidden;
    transition: .2s ease-out;
}

.wrap-list-area ul.active li:first-child:after {
    transform: rotate(180deg);
    top:0;
}


.wrap-list-area ul.active {
    height: auto;
    transition: all 0.5s ease;
}

.wrap-list-area ul li:first-child:after {
    position:absolute;
    right:15px;
    content:url(../images/icons/double-arrow.png);
}

.wrap-list-area ul li a {
    display: block;
    height: 35px;
    line-height: 35px;
    color:#ffffff;
    padding-left: 25px;
    font-family: SemiBold;
}

.wrap-list-area ul li a:hover, .wrap-list-area ul li a.active {
    background-color: #68B300 ;
}

.content-page {
    position:relative;
    border:2px solid #E6E6E6;
    margin-top: 80px;
    padding-bottom: 25px;
}

.content-page p {
    background-color: white;
    font-size: 18px;
    font-family: Light;
    margin: -70px 20px 0;
    padding: 0 20px;
}

#listLiders {
    margin-top: 150px;
}

#listLiders .col-lg-8 > ul > li {
    width:680px;
    height:270px;
    border:3px solid #E6E6E6;
    margin-left: 40px;
    margin-bottom: 250px;
    position: relative;
}

#listLiders ul li img {
    margin-left: -280px;
    margin-top:-75px;
    position: absolute;
}

.name-lider {
    font-size: 44px;
    padding-top: 20px;
    color:#5c8a03;
    font-family: BoldSerif;
    text-align: center;
    display: block;
    padding-left: 40px;
}

.area-lider {
    padding-left: 170px;
    font-family: Light;
    color:#808080;
    font-size: 18px;
    padding-top: 15px;
    display: block;
    padding-bottom: 20px;
}

#slideFaq.slider-liders {
    background-image: url(../images/liders-backgroung.jpg);
}

#listLiders ul li ul li {
    padding-left: 170px;
    padding-bottom: 10px;
    font-size: 18px;
}

#listLiders ul li ul li span {
    font-family: SemiBoldSerif;
    padding-right: 10px;
}

#listLiders .col-lg-8 > ul > li:nth-child(2n-1):after {
    position: absolute;
    content:url(../images/first-lider-list.png);
    top:-100px;
    right:-50px;
}

#listLiders .col-lg-8 > ul > li:nth-child(2n-1):before {
    position: absolute;
    content:url(../images/two-lider-list.png);
    bottom:-150px;
    left:-180px;
}

#listLiders .col-lg-8 > ul > li:nth-child(2n):after {
    position: absolute;
    content:url(../images/three-lider-list.png);
    top:-100px;
    right:-50px;
}

#listLiders .col-lg-8 > ul > li:nth-child(2n):before {
    position: absolute;
    content:url(../images/four-lider-list.png);
    bottom:-150px;
    left:-180px;
}

.news-img {
    width:320px;
    height: 240px;
    position: relative;
    display: inline-block;
}

#news {
    margin-top: 55px;
}

.news-img img {
    margin-top: 15px;
    width: 90%;
}

.string-right {
    position: absolute;
    right:-40px;
    height: 2px;
    width: 75px;
    background: #5c8a03;
    top:70px;
    z-index: 9;
}

.content-news {
    display: inline-block;
    width:55%;
    vertical-align: top;
    padding-left: 50px;
    padding-top: 30px;
}

#news ul li {
    width:100%;
}

.content-news a.name-news {
    font-family: SemiBold;
    font-size: 28px;
    color:#262424;
    line-height: 28px;
}

.content-news a.name-news:hover {
    color:#5c8a03;
}

.content-news span {
    display: block;
    color:#aaaaaa;
    padding-top: 15px;
    font-family: Light;
}

.content-news p {
    font-size: 18px;
    color:#262424;
    padding-top: 5px;
    padding-right: 20px;
}


#news .col-lg-9 ul li:nth-child(2n) {
    margin-left: 0;

}

#news .col-lg-9 ul li {
    margin-bottom: 40px;
}

.list-this-news {
    margin-bottom: 100px;
}


.list-this-news .show-more {
    margin-top: 50px;
}

.list-categories-news ul li a {
    display: block;
    width:235px;
    height: 120px;
    border:2px solid #3C8B00;
    position:relative;
    color:#5c8a03;
    font-family: Bold;
    line-height: 120px;
}

#news .list-categories-news ul li {
    margin-left: 0;
}

#news .list-categories-news ul li:nth-child(2n-1) a {
    padding-left: 120px;
}

#news .list-categories-news ul li:nth-child(2) a {
    padding-left: 15px;
    margin-left: -40px;
}

.content-news .read-more {
     margin-right: 20px;
}


#news .list-categories-news ul li:first-child a:before {
    position: absolute;
    left: -40px;
    top: -36px;
    content: url(../images/sidebar-category-1.png);
}

#news .body-news h2, #news .body-news h3 {
    font-size: 18px;
    color:#5c8a03;
    font-family: Semibold;
    margin: 30px 0;
    text-align: center;
}

#news .list-categories-news ul li:last-child a:before {
    position: absolute;
    left: -40px;
    top: -36px;
    content: url(../images/sidebar-category-3.png);
}

#news .list-categories-news ul li:nth-child(2) a:after {
    position: absolute;
    right: -40px;
    top: -36px;
    content: url(../images/sidebar-category-2.png);
}

.siderbar-news h3 {
    font-family: BoldSerif;
    font-size: 28px;
    color:#262424;
    padding-bottom: 40px;
}

.list-this-news .list-categories-news {
    padding-left: 35px;
}

#news .siderbar-news ul li {
    margin-bottom: 15px;
}

#news .siderbar-news > ul > li {
    border-bottom: 1px solid #8D8D8D;
    margin-left: 0;
}

#news .siderbar-news > ul > li:last-child {
    border:none;
}

#news .siderbar-news ul li ul li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 0;
    width:68%;
    padding-left: 30px;
}

#news .siderbar-news ul li ul li:first-child {
    width:30%;
    padding-left: 0;
}

#listLiders ul li a {
    color:#262424;
}

#news .siderbar-news ul li ul li a {
    display: block;
    font-size: 16px;
    color:#262424;
    line-height: 20px;
    padding-bottom: 10px;
    font-family: SemiBold;

}

#news .siderbar-news ul li ul li a:hover {
    color:#5c8a03;
}


#news .siderbar-news ul li ul li span {
    color:#aaaaaa;
    font-size: 14px;
    font-family: Light;
}

.help {
    background-image: url(../images/help.jpg);
    height: 370px;
    position: relative;
}



#news .col-lg-3 {
    padding: 0;
}

.help span {
    display: block;
    color:white;
    text-align: center;
    font-size: 28px;
    font-family: BoldSerif;
    position: relative;
    z-index: 3;
    padding-top: 120px;
}

.help a {
    display: block;
    text-align: center;
    margin: 40px auto 0;
    color:white;
    border-radius: 35px;
    height: 50px;
    line-height: 50px;
    width:200px;
    font-family: SemiBold;
    background-color: #68B300;
    font-size: 14px;
    position: relative;
    z-index: 4;
    border-bottom: 4px solid #5c8a03;
}

.help a:hover {
    background-color: #5C8A03;
    border-bottom: 4px solid #82B21E;
}

.socials h3 {
    font-family: SemiBoldSerif;
    font-size: 28px;
    margin: 40px 0 40px;
}


.socials img {
    width: 100%;
}

.one-news img {
    width: 90%;
}

.body-news {
    margin: 0 70px 0 20px;
}

.one-news h1 {
    font-family: SemiBold;
    font-size: 28px;
    padding: 20px 0;
}

.one-news .date-news {
    display: block;
    font-family: Light;
    color:#aaaaaa;
    padding-bottom: 15px;
    font-size: 14px;
}

.one-news {
    font-size: 18px;
    font-family: Light;
}

.one-news p {
    padding-bottom: 10px;
}

#news .col-lg-9 .body-news ul li {
    margin-bottom: 20px;
    position: relative;
    padding-left: 30px;
}

#news .col-lg-9 .body-news ul li:before {
    position: absolute;
    left:0;
    top:2px;
    content:url(../images/lsit.jpg);
}

.one-news b {
    font-family: Semibold;
    padding-bottom: 20px;
    font-weight: normal;
    display: block;
}


.one-news ol li {
    display: list-item;
    list-style: decimal;
    margin-left: 30px;
    padding-bottom: 10px;
}

.one-news .quote {
    color:#5c8a03;
    font-size: 28px;
    position: relative;
    font-family: Italic;
    margin: 30px 0 30px 50px;
}

.one-news .quote:before {
    position:absolute;
    left:-40px;
    top:0;
    content:url(../images/quote.png);
}

.one-news ol { counter-reset: item; }
.one-news ol li { display: block; }
.one-news ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: #3C8B00;
    font-weight: bold;
}

.body-news img {
    margin: 20px 0;
}

.body-news {
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

#news .share ul li {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-right: 15px;
}

.share-icon {
    display: block;
    border-radius: 50%;
    text-align: center;
    position: relative;
    width: 40px;
    height: 40px;
}

.share-icon.fb {
    background-color: #234072;
}

.share-icon.tw {
    background-color: #7BC5F9;
}

.share-icon.tg {
    background-color: #469EFA;
}

.share-icon.viber {
    background-color: #7A60FF;
}

.last-news {
    border:1px solid #D8D8D8;
    background-color: #FCFCFC;
    padding: 15px 10px;
    height: 125px;
    margin-bottom: 100px;
}

#lastNews .col-lg-12 .last-news ul li {
    display: inline-block;
    vertical-align: middle;
    width: 36%;
    position: relative;
}

#lastNews .col-lg-12 .last-news ul li:first-child {
    text-align: right;
}

#lastNews .col-lg-12 .last-news ul li span {
    display: block;
    font-family: Light;
    color:#666666;
}

#lastNews .col-lg-12 .last-news ul li a {
    display: block;
    font-family: Semibold;
    font-size: 18px;
    color:#262424
}

#lastNews .col-lg-12 .last-news ul li a:hover {
    color:#5c8a03;
}

#lastNews .col-lg-12 .last-news ul li:nth-child(2) {
    width:26%;
}

#lastNews .col-lg-12 .last-news ul li img {
    width:100%;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.socials {
    margin-bottom: 40px;
}

#lastNews .col-lg-12 .last-news ul li:first-child a:before {
    position: absolute;
    left:0;
    top:30px;
    content:url(../images/arrow-left-news.png);
}

#lastNews .col-lg-12 .last-news ul li:last-child a:after {
    position: absolute;
    right:0;
    top:30px;
    content:url(../images/arrow-right-news.png);
}

#news .share img {
    width:auto;
    margin-top: 12px;
}

.share a {
    position:relative;
}

.share a:hover:before {
    position: absolute;
    left:0;
    top:0;
    background-color: black;
    width:100%;
    height: 100%;
    opacity: .3;
    content:'';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.excerpt-setting {
    font-family: SemiBold;
    font-size: 18px;
    text-align: center;
    margin: 70px 60px 55px;
    text-indent: 30px;
}

#settings .wrap-list-area li:first-child {
    display: none;
}

#settings .wrap-list-area li {
    border-bottom: 1px solid white;
}

#settings .wrap-list-area {
    padding-bottom: 0;
}

#settings .wrap-list-area li a {
    height: 55px;
    line-height: 55px;
}

#settings .wrap-list-area li a:hover, #settings .wrap-list-area li a.active{
    background-color:#82B21E;
}

#settings .wrap-form-field label {
    display: block;
    margin-bottom: 0;
}

#settings .wrap-form-field span {
    display: inline-block;
    font-family: BoldSerif;
    font-size: 18px;
    color:#5c8a03;
    padding-bottom: 10px;
}

#settings .wrap-form-field input {
    display: block;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    background-color: #D9F5B0;
    border:none;
    width:100%;
    margin-bottom: 25px;
    outline: none;
}

#settings input[type="submit"], .list-current-btn-auth li:first-child input, #registration input[type="submit"] {
    display: block;
    font-family: SemiBold;
    width:170px;
    height: 50px;
    line-height: 50px;
    background-color: #E4E3CD;
    text-align: center;
    border:none;
    border-radius: 35px;
    outline: none;
    cursor: pointer;
    margin: 40px 0 100px;
}

#registration input[type="submit"] {
    width:275px;
}

#settings input[type="submit"]:hover, .list-current-btn-auth li:first-child input:hover, #registration input[type="submit"]:hover {
    color:white;
    background-color:#5c8a03;
}

.wrap-form-field-password {
    position: relative;
}

.wrap-form-field-password a {
    position: absolute;
    right:10px;
    top:50px;
    background-image: url(../images/icons/close-eye.png);
    width:32px;
    height: 30px;
    background-repeat: no-repeat;
}

.wrap-form-field-password a.active {
    background-image: url(../images/icons/open-eye.png);
    top:55px;
}

.padding-top-50 {
    padding-top: 50px;
}

.category-message {
    display: block;
    font-family: Light;
    font-size: 18px;
    color:#ababab;

}

.chat ul li {
    border:2px solid #EBEBEB;
    padding:10px 25px 10px 25px;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}

.chat ul li .date-message {
    position: absolute;
    right:25px;
    top:10px;
    font-family: Light;
    color:#ababab;
}


.chat ul {
    height: 350px;
    overflow-y: auto;
}

.chat textarea {
    resize: none;
    width:100%;
    height: 90px;
    margin-top: 25px;
    background-color: #FCFCFC;
    padding: 10px;
    border:1px solid #D8D8D8;
    outline:none;
}

.chat input[type="submit"] {
    float:right;
}

.chat ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: white;
}

.chat ul::-webkit-scrollbar {
    width: 6px;
    background-color: black;
}

.chat ul::-webkit-scrollbar-thumb {
    background-color: #CDCDCD;
    border-radius: 5px;
    border:1px solid #ccc;
}


.chat ul li p {
    display: block;
    font-family: Light;
    font-size: 18px;
}

.chat .right-message {
    margin-right: 50px;
}

.chat .left-message {
    margin-left: 20px;
    background-color: #D9F5B0;
    border:none;
    margin-right: 30px;
}

.chat .right-message:before {
    position: absolute;
    right:-20px;
    top:-2px;
    width:20px;
    height: 20px;
    z-index: 3;
    background-color: white;
    border-top:2px solid #EBEBEB;
    content:'';
}

.chat .right-message:after {
    position: absolute;
    content: '';
    right: -24px;
    top: 8px;
    z-index: 6;
    border-top: 2px solid #EBEBEB;
    transform: rotate(-44deg);
    width: 27px;
    height: 2px;
}


.chat .left-message:before {
    position: absolute;
    left:-20px;
    top:0px;
    width:20px;
    height: 20px;
    z-index: 3;
    background-color: #D9F5B0;
    border-top:2px solid #D9F5B0;
    content:'';
}

.chat .left-message:after {
    position: absolute;
    content: '';
    left: -28px;
    z-index: 6;
    border-top: 2px solid #D9F5B0;
    transform: rotate(44deg);
    width: 27px;
    height: 17px;
    top: 9px;
    background-color: white;
}

#settings .wrap-list-area span {
    display: inline-block;
    width:max-content;
    border-radius: 35px;
    height: 25px;
    background-color: white;
    line-height: 25px;
    color:black;
    float:right;
    padding: 0 10px;
    font-family: SemiBold;
    font-size: 14px;
    margin-top: 15px;
    margin-right: 15px;
}

.list-instruction ul li {
    margin-bottom: 15px;
    cursor: pointer;
    position:relative;
}

.list-instruction ul li > span {
    display: block;
    background-color: #FCFCFC;
    height: 55px;
    line-height: 55px;
    padding-left: 25px;
    font-family: SemiBold;

    border:1px solid #D8D8D8;
    font-size: 18px;
    position:relative;
}

.list-instruction ul li > span.active, .list-instruction ul li > span.full-active {
    background-color: #68B300;
    color:white;
}

.list-instruction ul li > a.checked-step {
    position: absolute;
    right:15px;
    top:15px;
}

.list-instruction ul li > a.checked-step:after {
    position:absolute;
    right:15px;
    content:url(../images/icons/check.png);
}


.list-instruction ul li > a.checked-step.active:after {
    content:url(../images/icons/checked.png);
}

.list-instruction ul li > span span {
    display: inline-block;
    padding-left: 20px;
}

.list-instruction ul li p {
    padding: 15px 25px;
    font-family: Light;
    font-size: 18px;
    display: none;
}

.list-instruction textarea {
    width:365px;
    height: 65px;
    border:2px solid #B0D57F;
    resize: none;
    outline: none;
}

.list-instruction > p {
    font-family: SemiBold;
    font-size: 18px;
    margin: 30px 0 15px;
    display: block;
}

.mail-data {
    position: absolute;
    font-size: 18px;
    left:-360px;
    top:-43px;
    font-family: SemiBold;
}



.mail-data a {
    display: block;
    color:#6CB500;
}

#settings .list-area-style ul li {
    border:none;

}

#settings .list-area-style ul li a {
    line-height: 35px;
    height: 35px;
}


#settings #listLiders ul li {
    margin-left: 20px;
}

#settings #listLiders ul li img {
    margin-left: -125px;
    margin-top: -130px;
}

#settings #listLiders > ul > li {
    border: 2px solid #E6E6E6;
}

#settings #listLiders > ul > li .name-lider {
    font-size: 28px;
    padding-left: 200px;
}

#settings #listLiders > ul > li .area-lider {
    padding-left: 335px;
    font-family: Italic;
}

#settings #listLiders ul li ul li {
    padding-left: 315px;
}

#settings #listLiders {
    margin-bottom: 100px;
}

.list-btn-auth {
    text-align: center;
}

.list-btn-auth li {
    display: inline-block;
}

.list-btn-auth li a {
    display: block;
    height: 55px;
    line-height: 55px;
    border:1px solid #ccc;
    text-align: center;
    color:black;
    font-family: SemiBold;
    border-radius: 35px;
    margin: 25px 45px;
}

#menu ul li:last-child a {
    margin-right: 0;
}

.list-btn-auth li a.active, .list-btn-auth li a:hover{
    background-color: #68B300;
    border:none;
    color:white;
}

.list-btn-auth li:first-child a {
    width:165px;
}

.list-btn-auth li:last-child a {
    width:275px;
}

#login h4, #registration h4 {
    font-family: SemiBoldSerif;
    font-size: 44px;
    color:#5c8a03;
    margin-bottom: 30px;
}

#login {
    margin-bottom: 100px;
}

.wrap-auth-field label {
    display: block;
    font-family: BoldSerif;
    font-size: 18px;
    color:#5c8a03;
}

.wrap-auth-field input {
    width:100%;
    height: 50px;
    background-color: #D9F5B0;
    border:none;
    margin-bottom: 20px;
    padding-left: 20px;
    outline: none;
}

.list-current-btn-auth li {
    display: inline-block;
}

.list-current-btn-auth li:first-child input {
    margin: 20px 0;
}

.list-current-btn-auth li:last-child a {
    font-family: Light;
    margin-left: 25px;
    font-size: 14px;
    color:#1f5a9b;
    border-bottom: 1px solid #1f5a9b;
}

.btn-social {
    text-align: center;
}

.btn-social li {
    display: inline-block;
}

.btn-social a {
    display: block;
    width:395px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-family: SemiBold;
    border-radius: 35px;
    font-size: 14px;
    position:relative;
    margin: 0 20px;
    padding-left: 50px;
}

.btn-social li:first-child a {
    border:1px solid #EFEDE1;
    color:#262424;
}

.btn-social li:first-child a:before {
    position:absolute;
    content:url(../images/icons/google.png);
    top: 4px;
    left: 100px;
}


.btn-social li:last-child a:before {
    position:absolute;
    content:url(../images/icons/facebook.png);
    top: 4px;
    left: 100px;
}

.btn-social li:last-child a {
    color:white;
    background-color: #23589B;
}



.agree-wrap {
    font-family: Light;
    font-size: 14px;
    padding-top: 10px;

}

.agree-wrap label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.agree-wrap label:before {
    position: absolute;
    left:0;
    top:0px;
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid #ccc;
    content:'';
}

.agree-wrap input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.agree-wrap input:checked + label:after {
    position: absolute;
    left:5px;
    top:5px;
    width:10px;
    height: 10px;
    background-color: green;
    content: '';
    border-radius: 50%;
}

#listArea .col-lg-12 > ul > li {
    display: inline-block;
    width:480px;
    border:2px solid #C8C8C8;
    padding: 20px 30px;
    margin: 30px;
}


#listArea .col-lg-12 > ul > li h4 {
    text-align: center;
    font-family: SemiBoldSerif;
    color:#5c8a03;
    font-size: 28px;
    margin-bottom: 30px;
}

#listArea .col-lg-12 > ul > li:hover {
    background-color: #3C8B00;
    color:white;
    border:none;
}

#listArea .col-lg-12 > ul > li:hover h4 {
    color:white;
}

#listArea .col-lg-12 {
    text-align: center;
}

#listArea .col-lg-12 > ul > li ul li {
    text-align: right;
    clear:both;
    font-size: 18px;
    margin-bottom: 15px;
}

#listArea .col-lg-12 > ul > li ul li span {
    float:left;
    font-family: SemiBoldSerif;
}

#listArea {
    margin-top: 70px;
}

.wrap-wrap-mail {
    position: relative;
}

#page404 {
    text-align: center;
}

.border-top-breadcrumbs {
    border-top:1px solid #C6C6C6;
}

#page404 img {
    margin: 50px auto;
    display: block;
}

#page404 h3 {
    font-family: SemiBoldSerif;
    color:#5c8a03;
    font-size: 28px;
    margin-bottom: 25px;
}

#page404 p {
    font-family: SemiBold;
    font-size: 18px;
}

#page404 a {
    display: block;
    color:white;
    background: #68B300;
    border-radius: 35px;
    text-align: center;
    width:215px;
    height: 55px;
    line-height: 55px;
    padding-left: 30px;
    position: relative;
    margin: 30px auto 70px;
    border-bottom: 4px solid #5c8a03;
}

#page404 a:hover {
    background-color: #5C8A03;
    border-bottom: 4px solid #82B21E;
}

#page404 a:before {
    position: absolute;
    left:30px;
    top:7px;
    content:url(../images/icons/arrow-top.png);
}

.modal-menu {
    background-color: white;
    position: fixed;
    top:0;
    left:-370px;
    width:370px;
    padding: 0 55px;
    z-index: 8;
    transition: left .4s linear;
}

.modal-menu.active {
    left:0;
}

.global-overlay {
    position: fixed;
    z-index: 6;
    width:100%;
    height: 100%;
    left:0;
    top:0;
    bottom: 0;
    right:0;
    background-color: #568564;
    opacity: .8;
    display: none;
}


.modal-menu .close-popup {
    position: absolute;
    right: 25px;
    top: 25px;
}

.logo-popup {
    display: block;
    text-align: center;
    margin: 65px 0 40px;
}

.list-menu-popup ul li a {
    height: 50px;
    line-height: 50px;
    display: block;
    text-transform: uppercase;
    font-family: SemiBold;
    color:#262424;
    font-size: 14px;
    border-bottom: 1px solid #B0B0B0;
}

.list-menu-popup ul li a.border-none {
    border:none;
}

.list-menu-popup ul li a.active,
.list-menu-popup ul li a:hover {
    color:#5c8a03;
}

.list-social-popup ul li {
    display: inline-block;
    text-align: center;
    margin: 20px 15px 0;
}

.list-social-popup ul li a {
    display: block;
    border-radius: 50%;
    width:40px;
    height: 40px;
    background-color: #68B300;
    text-align: center;
    padding-top: 5px;
}

.list-social-popup ul li a:hover {
    background-color: #3C8B00;
}

.btn-auth-popup {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: SemiBold;
    color:#262424;
    margin: 30px 0 40px;
}

#registration, #login {
    display: none;
}

#login.active, #registration.active {
    display: block;
}


#cookie {
    background-color: #fff;
    position: fixed;
    bottom:0;
    width:100%;
    z-index: 4324;
    padding: 20px 0;
}

.cookies.visible {
    width: 100%;
    box-sizing: border-box;
    z-index: 6;

    max-height: 300px;
    transform: translateY(0);
    transition-duration: 0s !important;

}

.title-cookie {
    font-family: SemiBold;
    font-size: 18px;
}

.button-cookie {
    display: block;
    margin: 15px auto 0;
    color: white;
    position: relative;
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    border-radius: 35px;
    background-color: #82B21E;
    width: 260px;
    text-align: center;
    font-family: SemiBold;
    font-size: 14px;
    border-bottom: 4px solid #5c8a03;
    cursor: pointer;
}

.button-cookie:hover {
    background-color: #5C8A03;
    border-bottom: 4px solid #82B21E;
}

#registration span.error, #settings span.error, #login span.error {
    color:red;
    font-size: 13px;
    font-family: SemiBold;
    display: inline-block;
    padding-left: 40px;
}

